<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" src="./js/vue.js"></script>
</head>
<body>
	<div id='app'>
		<ul>
			<li v-for="(user,index) in users">
			{{index}}:{{user.name}}:{{user.gender}}:{{user.age}}
			</li>
		</ul>
		<ul>
			<li v-for="(value,key,index) in emp">
					{{index}}:{{key}}:{{value}}
			</li>
		</ul>
		<ul>
			<li v-for="i in 5">
				{{i}}
			</li>
		</ul>
	</div>
	<script type="text/javascript">
		var app=new Vue({
			el:"#app",
			data:{
				users:[
					{name:'张三',gender:'女',age:21},
					{name:'李四',gender:'男',age:24},
					{name:'王五',gender:'女',age:26},
					{name:'赵六',gender:'男',age:20},
					{name:'田七',gender:'女',age:23}
				],
				emp:{name:'张三',gender:'女',age:21}
			}
		})
	</script>
</body>
</html>